* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    height: 100vh;
    background: black;
    color: #535353;
    overflow: hidden;
}

.box {
    position: relative;
    margin: 200px auto 0;
    width: 100%;
}

/* Each color takes 1/3rd of the page */

.box--shadeOne {
    position: absolute;
    top: -250px;
    height: 250px;
    width: 0%;
    background: #CD7F32;
    animation-name: swoosh;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.box--shadeTwo {
    position: absolute;
    top: 0px;
    height: 250px;
    width: 0%;
    background: #c2792f;
    animation-name: swoosh;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.box--shadeThree {
    position: absolute;
    top: 250px;
    height: 250px;
    width: 0%;
    background: #b8722d;
    animation-name: swoosh;
    animation-duration: 2s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.text {
    font-size: 80px;
    text-transform: uppercase;
    line-height: 1; /*For GH*/
    color: #5e3a17;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fade-in {
    100% {        
        opacity: 1;
        text-shadow: 0px 5px 5px black;
    }
}

@keyframes swoosh {
    100% {
        width: 100%;
        opacity: 1;
    }
}
